* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --bg-main: #0A0A0A;
    --bg-card: #18181B;
    --sidebar-bg: #141414;
    --primary: #FF6B00;
    --accent: #22C55E;
    --highlight: #FACC15;
    --text-main: #FAFAFA;
    --text-secondary: #9CA3AF;
}

body {
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    background: var(--bg-main);
    color: var(--text-main);
}

/* ICONOS */
i{
    margin-right: 10px;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;  
    width: 250px;
    height: 100vh;
    background: var(--sidebar-bg);
    padding-top: 20px;
}
.sidebar ul {
    list-style: none;
    padding: 5px;
}
.sidebar ul li a {
    display: block;
    padding: 15px 25px;
    color: var(--text-secondary);
    text-decoration: none;
    transition: 0.3s;
}
.sidebar ul li a:hover {
    background: rgba(255,107,0,0.15);
    color: var(--primary);
    padding-left: 35px;
}
h2{
    text-align: center;
    color: var(--primary);
    margin-bottom: 30px;
    margin-top: 20px;
}

/* CONTENIDO PRINCIPAL */
#contendor{
    margin-left: 250px;
    /* flex: 1; */
    height: 100vh;
    align-content: center;
    justify-content: center;
    padding: 20px;
    background: var(--bg-main);
    display: flex;
    flex-direction: column;
}

header {
    padding: 12px;
    border-bottom: 2px solid rgba(255,107,0,0.4);
    margin-bottom: 20px;
}
h1{
    font-size: 2rem;
    color: var(--text-main);
}
#sub-cont{
    flex: 1;
    padding: 30px;
}
#card-emp{
    box-shadow: 0 0px 10px rgba(255,107,0,0.35);
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bg-card);
    display: flex;
    flex-direction: row;
}
#info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60%;
}
.admin-info{
    align-content: center;
    border-bottom: 1px solid var(--accent);
    margin-bottom: 10px;
    padding-bottom: 40px;
    /* text-align: start; */
}
.admin-info h1{
    font-weight: bolder;
    margin-bottom: 15px;
    font-size: 2rem;
}
.admin-stats{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-top: 30px;
}
span{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--accent);
}
.admin-stats p{
    font-weight: bold;
    color: var(--primary);
    font-size: 2rem;
}
label{
    color: var(--text-secondary);
}

#foto{
    padding: 30px;
    width: 40%;
    align-content: center;
    justify-content: center;
}
img{
    max-width: 100%;
    height: auto;
    /* object-fit: cover; */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255,107,0,0.3);
    display: block;
}